# 聚合数据：星座运势 的接口地址，申请 APP_KEY 网站：https://www.juhe.cn/docs/api/id/58
JUHE_CONSTELLATIONS_API_URL = 'http://web.juhe.cn:8080/constellation/getAll'
# 星座运势密钥
JUHE_CONSTELLATIONS_APP_KEY = ''

# 服务器占用端口号，默认 8848
SERVER_PORT = 5555